body {
	margin: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.card-header {
	background-color: cadetblue;
}

h1 {
	padding-left: 10px;
}

.todo-item {
	list-style-type: none;
	padding: 10px 15px;
	border-top: 1px solid cadetblue;
}

.todo-item input {
	margin-right: 10px;
}
